* {
    box-sizing: border-box;
    
}

body {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #000000;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 750px;
    max-width: 100%;
}

.header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 20px;
}

.header h2 {
    margin: 0;
    align-items: center;
    font-size: 30px;
}

.form-group {
    padding: 30px 40px;
}

.control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.control label {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: inline;
    font-size: 14px;
    padding: 10px;
}

.form-group button {
    background-color: #9095A0;
    border: 2px solid #000000;
    border-radius: 100px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    width: 100%;
    display: block;
    margin-bottom: 10px;

}

.lastname {
    margin-left: 80px;
}

.password {
margin-left: 20px;
}


.form_date {
    margin-left: 10px;
    width: 200px;
}

.date {
    margin-left: 80px;
}

